<h2>Dodaj zadanie:</h2>

<form action="/todo/added" method="post">
    <label>
        Nazwa zadania:<br>
        <input type="text" name="title" maxlength="150"><br>
    </label>

    <button type="submit">Zapisz</button>
</form>